* {
	font-family: Helvetica, Arial, sans-serif;
	background-color: rgb(234, 234, 234);
}

h1 {
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

.container {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.card-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	align-content: center;
	align-items: center;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	height: 0%;
	justify-content: center;
	margin-bottom: 20px;
	margin-right: 20px;
	overflow: hidden;
	padding-top: 20px;
}

.card h4 {
	background-color: white;
	flex: 1;
	margin-top: 5px;
	padding: 5px 20px 0px 20px;
	text-align: center;
}
